<% if current_user %>
    <%= render "layouts/header" %>
    <h1 class="welcome">Welcome to your dashboard!</h1>
    Logged in as <%= current_user.email %>.
    <%= link_to 'Log Out', '/logout' %>
<% else %>
    <%= flash[:error] = 'Sorry, but you must be logged in to view your dashboard.' %>
    <%= controller.redirect_to '/' %>
<% end %>
<p id='notice'><%= notice %></p>