<div class="comment-div">
    <% if comment.id != nil %>
        <p><%= comment.comment_text %></p>
        <p><%= comment.user.email %></p>
        <%#<%= link_to 'Edit', "/posts/#{comment.post.id}/comments/#{comment.id}/edit" %>
        <% if comment.user.id == current_user.id %>
            <%= link_to 'Edit', edit_post_comment_path(comment.post, comment) %>
            <%= link_to 'Delete', [comment.post, comment], method: :delete, data: {confirm: 'Are you sure you want to delete your comment?'} %>
        <% end %>
    <% end %>
</div>
