<div class="post-form-container">
    <%= form_for @post do |f| %>
        <%= f.hidden_field :post_id, value: :user_id %>
        <div>
            <%= f.label :title %>
            <%= f.text_field :title %>
        </div>
        <div>
            <%= f.label :content %>
            <%= f.text_area :content %>
        </div>
        <div class="post-submit">
            <%= f.submit 'Post' %>
        </div>
    <% end %>
</div>