<div class="posts-index-container">
    <% @posts.each do |post| %>
        <%= link_to post, class: "post-link" do %>
        <div class="post-container">
            <div class="post-p1-container">
                <p class="post-p1"><%= post.title %></p>
            </div>
            <div class="post-p2-container">
                <p class="post-p2">Posted by <%= post.user.email %> on <%= post.created_at.to_s(:post_time) %></p>
            </div>
        </div>
        <% end %>
    <% end %>
    <div>
        <%= link_to new_post_path, class: "new-post-link" do %>
            New Post <i class="fas fa-plus"></i>
        <% end %>
    </div>
</div>